.header-container {
    width: 100%;
    height: 400px;
    background: url('./../../../assets/images/home-bg-img.webp') center/cover no-repeat;
    display: flex;
    padding-top: 50px;
    margin-top: 25px;
    justify-content: center;
    color: var(--color-primary);
    font-weight: bold;
    text-align: center;
  }
  .header-container-header{
    background-color:rgba(130, 183, 51, 0.5);
    padding: 5px;
  }
  .home-product-header h4{
    margin-top: 10px;
    margin-bottom: -25px;
    font-size: calc(var(--font-size-title)*2) ;
    font-weight: var(--font-blod);
    color: var(--color-primary);
}

.home-product-header {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-offer-content{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/images/the-Best-Plumbers.jpeg');
    background-size: cover;
   
}

.home-content img{
    height: 100%;
    
}


.order-offer-btn{
    
    background-size: cover;
    color: var(--color-primary);
    border: none;
    font-size: 30px;
    font-weight: var(--font-blod);
    background-color:rgba(130, 183, 51, 0.2);    
}
.order-offer-btn:hover{
    color: var(--color-secondary);
    background-color:unset;
}

