.col-60{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-plumber-container{
    width: 60%;
    
}
.order-plumber-info-container{
    width: 90%;
    
}

@media(max-width:991px){
    .order-plumber-container{
        width: 100%;
        margin-left:0;
        margin-right:0;
    }
}
.checkout-input:focus-visible {
    outline:none;
    box-shadow: none;
}
